<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HumaneSociety.Properties.Settings.HumaneSocietyConnectionString"
            connectionString="Data Source=LAPTOP-JJ0LB79L\SQLEXPRESS;Initial Catalog=Humane Society;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="HumaneSociety.Properties.Settings.HumaneSocietyConnectionString1"
            connectionString="Data Source=LAPTOP-JJ0LB79L\SQLEXPRESS;Initial Catalog=Humane Society;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="HumaneSociety.Properties.Settings.Humane_SocietyConnectionString"
            connectionString="Data Source=LAPTOP-JJ0LB79L\SQLEXPRESS;Initial Catalog=&quot;Humane Society&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>